// src/scss/components/home/_adopt_ process.scss
// 입양 절차 영역 (page-4)

/* page4 영역 */

#page-4 {
  width: 100%;
  height: 100dvh;
  background: #F3F3EF;

  /*구분 지으려고 임의로 배경색 지정한 것*/

  .container {
    width: 100%;
    height: 100%;

    /* background: #888; */
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: space-evenly;

    h1 {
      font-size: 30px;
      font-weight: normal;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-procedures {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .procedures-1, .procedures-2, .procedures-3, .procedures-4 {
      width: 300px;
      height: 300px;
      border: 1px solid #E1E0DB;
      border-radius: 20px;
      background: #fff;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    h2 {
      color: #F19802;
      font-size: 20px;
    }

    p.txt {
      text-align: center;
      font-size: 1rem;
      line-height: 1.3;
    }
  }

  .procedures-btn {
    width: 200px;
    height: 50px;
    background: #E1E0DB;
    border-radius: 25px;
    text-align: center;

    a {
      font-size: 1rem;
    }
  }
}