// src/scss/components/home/_intro.scss
// 서비스 소개 영역 (page-1, page-2)

// =================================
// page-1 소개 배너
// =================================
@keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

#page-1 {
  width: 100%;
  height: 100dvh;

  .hd-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      background: url("../assets/banner-3.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .logo {
      /* padding-top: 6.25rem;
      height: 200px; */
      position: absolute;
      top: 25%;

      img {
        height: 6rem;
      }
    }

    .bn-title {
      text-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 45%;
    }

    .bn-content {
      text-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 45%;
      top: 50%;
    }

    .bn {
      position: absolute;
      top: 85%;
    }

    .bn-btn {
      position: relative;
      animation: arrow_down 1.5s infinite;

      .btn-antiman {
        width: 2.5rem;
        height: 3.5rem;
        background-color: rgba(242, 151, 8, 0.75);
        border-radius: 20px;
        color: #FFF;
        font-size: 1.3rem;
        text-align: center;
        animation: arrow_down 1.5s infinite;
        animation-direction: alternate;
        animation-timing-function: linear;

        &:hover {
          background-color: rgb(209, 133, 1);
          border: 1px solid rgba(243, 211, 157, 0.75);
          transition: 0.5s;
        }
      }
    }
  }
}

// =================================
// page-2 소개 텍스트
// =================================
#page-2 {
  width: 100%;
  height: 100dvh;
  background: #F3F3EF;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  .left, .right {
    width: 400px;
    height: 200px;
  }

  .left-top {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: beige; */
  }

  .left-bottom {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: burlywood; */
  }

  .left ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 400px;

    /* background: gray; */

    li {
      width: 400px;
      height: 100px;
      line-height: 100px;
      font-size: 2.5rem;
      text-align: right;
      font-weight: bold;
    }
  }

  .center {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 3rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #ccc;

    /* background: red; */
  }

  &.left-top, &.left-bottom, &.center-box, &.right-top, &.right-bottom {
    *zoom: 1;
  }

  .left-top:after, .left-bottom:after, .center-box:after, .right-top:after, .right-bottom:after {
    content: "";
    display: block;
    clear: both;
  }

  .center-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 300px;
    height: 1200px;

    /* background: black; */

    li {
      width: 300px;
      height: 400px;

      /* float: left; */
      border-radius: 20px;

      &.box1 {
        background-image: url(../assets/page2-img1.png);
      }

      &.box2 {
        background-image: url(../assets/page2-img2.png);
      }

      &.box3 {
        background-image: url(../assets/page2-img3.png);
      }

      &.box4 {
        background-image: url(../assets/page2-img4.png);
      }
    }
  }

  .right ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 400px;

    /* background: gray; */

    li {
      width: 400px;
      height: 100px;
      line-height: 100px;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .right-top {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: beige; */
  }

  .right-bottom {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: burlywood; */
  }
}