/* footer */

footer {
  width: 100%;
  height: 340px;
  background: #3A302C;

  /* background: #2F2521; */
  /* display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box; */

  .footer-container {
    width: 1300px;
    height: 340px;

    /* background: #99A; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 2.5rem 0;
    box-sizing: border-box;
    margin: 0 auto;
  }

  p, .f-nav li a, b, h4 {
    color: #eae1dd;
  }
}

.footer-logo {
  img {
    width: 300px;
  }

  p {
    &.txt {
      margin: 30px 0 60px 0;
      line-height: 1.5;
    }

    &.copyright {
      font-size: 0.8rem;
    }
  }
}

footer .footer-nav .f-nav ul li {
  margin-bottom: 10px;
}

.footer-right {
  h4, p {
    margin-bottom: 10px;
  }

  .number {
    margin-bottom: 40px;
  }

  a {
    margin-right: 10px;
    display: inline-block;
    width: 23px;

    img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}