// src/scss/base/_reset.scss
// 공통 스타일

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

.btn-container:hover {
  .btn::before {
    left: 0;
  }
  
  .txt {
    color: #2F2521;
    font-weight: bold;
    transition: linear 0.5s;
  }
}

img {
  vertical-align: middle;
}

.nav-container .btn {
  .txt .icon {
    width: 2.3rem;
    height: 2.3rem;
    background: #FCF6EC;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 6.5rem;
    z-index: 3;

    img {
      width: 12px;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}