// src/scss/base/_typography.scss
// 타이포그래피 스타일

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
}