// src/scss/components/common/_nav.scss
// 공통 네비게이션 스타일

nav {
  position: sticky;
  top: 0;
  z-index: 5;

  .nav-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap: 60px 60px 5px;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .nav-logo {
    width: 20%;
  }

  .nav-button {
    width: 10%;
  }

  .nav-logo .menu-logo a {
    height: 60px;

    img {
      height: 3rem;
    }
  }

  .nav-menu {
    width: 60%;

    ul.menu-link {
      width: 100%;
      display: flex;
      justify-content: center;

      > li > a {
        color: #2F2521;
        position: relative;
        display: inline-block;
        margin: 0 60px;
        font-size: 0.9rem;
      }
    }
  }

  ul.menu-link > li > a {
    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2F2521;
      transform: scaleX(0);
      transform-origin: 100% 0;

      /* transform-origin: 0 0; */
      transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }
  }
}

.nav-login-register {
  width: 10%;

  .login-register-link {
    display: flex;
    justify-content: space-around;
    text-align: right;

    > li > a {
      display: inline-block;
      font-size: 0.9rem;
      color: #58463f;

      &:after {
        content: "";
        position: relative;
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #58463f;
        transform: scaleX(0);
        transform-origin: 100% 0;

        /* transform-origin: 0 0; */
        transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0 0;
        transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
      }
    }
  }
}