// src/scss/main.scss
// 메인 SCSS 파일

// 베이스
@use 'base/reset';
@use 'base/typography';

// 레이아웃
@use 'layout/layout';

// 공통 컴포넌트
@use 'components/common/nav';
@use 'components/common/footer';
@use 'components/common/button';

// 페이지별 컴포넌트
@use 'components/home/hero';
@use 'components/home/adopt-list';
@use 'components/sub/notice-list';


// body {
//   @include typography.body-text;
//   background-color: $color-background;
//   margin: 0;
//   padding: 0;
// }

/* Page-1 arrow down */
@keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

/* page1 영역 */

#page-1 {
  width: 100%;
  height: 100dvh;

  .hd-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      background: url("../assets/banner-3.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .logo {
      /* padding-top: 6.25rem;
      height: 200px; */
      position: absolute;
      top: 25%;

      img {
        height: 6rem;
      }
    }

    .bn-title {
      text-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 45%;
    }

    .bn-content {
      text-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 45%;
      top: 50%;
    }

    .bn {
      position: absolute;
      top: 85%;
    }

    .bn-btn {
      position: relative;
      animation: arrow_down 1.5s infinite;

      .btn-antiman {
        width: 2.5rem;
        height: 3.5rem;
        background-color: rgba(242, 151, 8, 0.75);
        border-radius: 20px;
        color: #FFF;
        font-size: 1.3rem;
        text-align: center;
        animation: arrow_down 1.5s infinite;
        animation-direction: alternate;
        animation-timing-function: linear;

        &:hover {
          background-color: rgb(209, 133, 1);
          border: 1px solid rgba(243, 211, 157, 0.75);
          transition: 0.5s;
        }
      }
    }
  }
}

/* page-2영역 */

#page-2 {
  width: 100%;
  height: 100dvh;
  background: #F3F3EF;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  .left, .right {
    width: 400px;
    height: 200px;
  }

  .left-top {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: beige; */
  }

  .left-bottom {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: burlywood; */
  }

  .left ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 400px;

    /* background: gray; */

    li {
      width: 400px;
      height: 100px;
      line-height: 100px;
      font-size: 2.5rem;
      text-align: right;
      font-weight: bold;
    }
  }

  .center {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 3rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #ccc;

    /* background: red; */
  }

  &.left-top, &.left-bottom, &.center-box, &.right-top, &.right-bottom {
    *zoom: 1;
  }

  .left-top:after, .left-bottom:after, .center-box:after, .right-top:after, .right-bottom:after {
    content: "";
    display: block;
    clear: both;
  }

  .center-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 300px;
    height: 1200px;

    /* background: black; */

    li {
      width: 300px;
      height: 400px;

      /* float: left; */
      border-radius: 20px;

      &.box1 {
        background-image: url(../assets/page2-img1.png);
      }

      &.box2 {
        background-image: url(../assets/page2-img2.png);
      }

      &.box3 {
        background-image: url(../assets/page2-img3.png);
      }

      &.box4 {
        background-image: url(../assets/page2-img4.png);
      }
    }
  }

  .right ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 400px;

    /* background: gray; */

    li {
      width: 400px;
      height: 100px;
      line-height: 100px;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .right-top {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: beige; */
  }

  .right-bottom {
    position: relative;
    width: 400px;
    height: 100px;

    /* margin: 0 auto; */
    overflow: hidden;

    /* background: burlywood; */
  }
}

/* page3 영역 - margin 이용해서 중앙 간격 유지 */

#page-3 {
  width: 80%;
  height: 100%;
  margin: 0 auto;

  .page-3-tit {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;

    .sec3-h1 {
      font-size: 50px;
      color: rgba(34, 34, 34, 0.8);

      /* 추후 변경 */
    }
  }

  .sec3-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0;
    height: 100%;

    .img-wrapper {
      width: 85%;

      /* margin, width 이용해서 중앙 간격 유지 */
      height: 100%;

      .img-container {
        position: sticky;
        top: 135px;

        figure {
          text-align: right;

          /* img 오른쪽 정렬렬 */

          img {
            width: 482px;
            height: 570px;
            border-radius: 25px;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }
    }

    .swiper-container {
      width: 95%;

      /* margin, width 이용해서 중앙 간격 유지 */
      height: 100%;
      text-align: left;
      margin-left: 5%;

      /* margin, width 이용해서 중앙 간격 유지 */

      .swiper-wrapper {
        width: 100%;
        display: grid;
        row-gap: 3.5rem;
        align-items: right;

        .swiper-slide {
          width: 587px;
          height: 245px;
          background-color: #F5F3ED;
          border: 1px solid #E1E0DB;

          /* padding: 30px 40px 40px; */
          border-radius: 25px;

          &:hover img {
            width: 587px;
            height: 245px;

            /* transform: rotateY(360deg);
            transition: 1s; */
            /* transform: scale(1.1);
            transition: 1s; */
          }

          .profile-content {
            width: 50%;
            height: 100%;

            /* background: #999; */
            float: left;
            display: grid;
            justify-items: center;
            line-height: 1.6;
            align-content: center;
            line-height: 1.6;

            > p {
              padding-left: 3px;
            }
          }

          .profile-img {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            /* overflow: hidden; */

            img {
              /* width: 175px;
              height: 175px;
              border-radius: 25px; */
              width: 100%;
              height: 100%;
              border-radius: 0 25px 25px 0;
              -o-object-fit: cover;
              object-fit: cover;
            }
          }

          &:last-of-type {
            text-align: center;

            .profile-img img {
              width: 75%;
              height: 75%;
            }
          }
        }
      }
    }
  }
}

/* page4 영역 */

#page-4 {
  width: 100%;
  height: 100dvh;
  background: #F3F3EF;

  /*구분 지으려고 임의로 배경색 지정한 것*/

  .container {
    width: 100%;
    height: 100%;

    /* background: #888; */
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: space-evenly;

    h1 {
      font-size: 30px;
      font-weight: normal;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-procedures {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .procedures-1, .procedures-2, .procedures-3, .procedures-4 {
      width: 300px;
      height: 300px;
      border: 1px solid #E1E0DB;
      border-radius: 20px;
      background: #fff;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    h2 {
      color: #F19802;
      font-size: 20px;
    }

    p.txt {
      text-align: center;
      font-size: 1rem;
      line-height: 1.3;
    }
  }

  .procedures-btn {
    width: 200px;
    height: 50px;
    background: #E1E0DB;
    border-radius: 25px;
    text-align: center;

    a {
      font-size: 1rem;
    }
  }
}