// src/scss/main.scss
// 메인 SCSS 파일

// 베이스
@use 'base/reset';
@use 'base/typography';

// 레이아웃
@use 'layout/layout';

// 공통 컴포넌트
@use 'components/common/nav';
@use 'components/common/footer';
@use 'components/common/button';

// 페이지별 컴포넌트 (홈페이지)
@use 'components/home/intro';
@use 'components/home/adopt-list';
@use 'components/home/adopt-process';

// 페이지별 컴포넌트 (서브페이지)
@use 'components/sub/notice-list';


// body {
//   @include typography.body-text;
//   background-color: $color-background;
//   margin: 0;
//   padding: 0;
// }